In [1]:
##1
marks=int(input("enter the marks"))
if marks>90:
    print("grade A")
elif 90>=marks>80:
    print("grade B")
elif 80>=marks>60:
    print("grade C")
else:
    print("grade D")

enter the marks 66

grade C

In [3]:
##2
price=int(input("enter the price of bike"))
if price>100000:
    print("15%")
elif 100000>=price>50000:
    print("10%")
else: 
    print("5%")

enter the price of bike 50000

5%

In [8]:
##3
a,b,c="delhi","agra","jaipur"
city=input("enter the name of city")
if city==a:
    print("red fort")
elif city==b:
    print("taj mahal")
elif city==c:
    print("jal mahal")

enter the name of city delhi

red fort

In [18]:
##4
n=int(input("enter the number"))
a=0
i=1
while n>=10:
    n=n/3
    a=a+1
print(a)

enter the number 50

2

In [19]:
##5
while loop is use when there is any condition to perform operation.
like question number 4.

SyntaxError: invalid syntax (1880239975.py, line 2)

In [25]:
##6 right anle triangle
row,col=1,1
while row<=10:
    while col<=row:
        print(row*"* ","\n")
        col+=1
    row+=1

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

In [28]:
##6 square
row,col=1,1
while row<=10:
    while col<=10:
        print(10*"* ","\n")
        col+=1
    row+=1

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

In [ ]:
##7 program to display a reverse numbersfrom 10 to 1
n=10
while n>=0